* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 50px;
}

.field {
    width: 6vmin;
    height: 6vmin;
    background-color: #E1ECF9;
    border: 1px solid #091D34;
    float: left;
}

.field:hover {
    background-color: yellow;
}

.field {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

#choose {
    width: 200px;
    height: 125px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #609CE1;
    border: 1px solid #091D34;
    display: none;
    font-family: 'Roboto Slab', serif;
    float: left;
    color: #091D34;
}

.symbolChoose {
    border: 1px solid #091D34;
    width: 40%;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-left: 7%;
    font-size: 40px;
    line-height: normal;
    font-family: 'Roboto Slab', serif;
    color: #091D34;
}

.symbolChoose:hover {
    background-color: yellow;
}

#dialog {
    width: 200px;
    height: 125px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
    border: 1px solid #000;
    display: none;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 100;
    font-family: 'Roboto Slab', serif;
    
}

#main {
    float: left;
    
    /*top: 10%;
    left: 22vw;*/

    
    line-height: 6vmin;

}

header {
    width: 100%;
    height: 50px;
    background-color: #609CE1;
    float: left;
    text-align: center;
    vertical-align: middle;
    color: #133863;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

#status {
    color: #133863;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

#rematch {
    border: 1px solid #091D34;
    font-size: 20px;
    line-height: normal;
    background-color: white;
    height: 50px;
}

#rematch:hover {
    background-color: yellow;
}

.hrefbutton {
    border: 2px solid #091D34;
    font-size: 20px;
    line-height: normal;
    background-color: white;
    height: 50px;
    text-decoration: none;
    color: #091D34;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
}

.authed {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

#matchdata {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    /*border: 1px solid #091D34;
    background-color: grey;*/
    text-align: right;
}

td {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    /*border: 1px solid #091D34;*/
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}



.mid {
    font-weight: bold;
}

.statTitle {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#stats {
    width: 50%;
    height: 100%;
    float: left;
}