* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 50px;
    font-family: 'Roboto Slab', serif;
}

.field {
    width: 6vmin;
    height: 6vmin;
    background-color: #E1ECF9;
    border: 1px solid #091D34;
    float: left;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

.field:hover {
    background-color: yellow;
}

#choose {
    width: 200px;
    height: 125px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #609CE1;
    border: 1px solid #091D34;
    display: none;
    float: left;
    color: #091D34;
}

.symbolChoose {
    border: 1px solid #091D34;
    width: 40%;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-left: 7%;
    font-size: 40px;
    line-height: normal;
    color: #091D34;
}

.symbolChoose:hover {
    background-color: yellow;
}

#dialog {
    width: 200px;
    height: 125px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
    border: 1px solid #000;
    display: none;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 100;
}

#main {
    float: left;
    
    /*top: 10%;
    left: 22vw;*/

    
    line-height: 6vmin;
    border: 3px solid #091D34;

}

table#mygames, div#stats {
    margin-left: 10px;
}

header {
    width: 100%;
    height: 50px;
    background-color: #609CE1;
    /*float: left;
    text-align: center;*/
    vertical-align: middle;
    color: #133863;
    font-size: 30px;
    padding-left: 10px;
}

#status {
    color: #133863;
    font-size: 30px;
}

#rematch {
    border: 1px solid #091D34;
    font-size: 20px;
    line-height: normal;
    background-color: white;
    height: 50px;
}

#rematch:hover {
    background-color: yellow;
}

.hrefbutton {
    border: 2px solid #16304d;
    font-size: 20px;
    line-height: normal;
    background-color: #1c4574;
    height: 50px;
    text-decoration: none;
    color: #83bdff;
    padding: 5px;
}

.hrefbutton:hover {
    border-color: #83bdff;
    color: #277de0;
    background-color: #193b63;
    transition: 0.1s;
}

.authed {
    font-size: 20px;
}

#matchdata {
    font-size: 20px;
    /*border: 1px solid #091D34;
    background-color: grey;*/
    text-align: right;
}

td {
    font-size: 20px;
    /*border: 1px solid #091D34;*/
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #091D34;
}

.mid {
    font-weight: bold;
}

.statTitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#stats {
    width: 50%;
    height: 100%;
    float: left;
}

a {
    color: black;
    text-decoration: none;
}

a[href="login.php"]:hover {
    text-decoration: underline;
}
a[href*="game.php"]:hover {
    text-decoration: underline;
}
a[href*="game.php"]:hover {
    text-decoration: underline;
}
#replaycontrols {
    width: 300px;
    height: 175px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #609CE1;
    border: 1px solid #091D34;
    float: left;
    color: #091D34;
}

.replayButton {
    /*border: 1px solid #091D34;*/
    width: 20%;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    margin: 2%;
    font-size: 30px;
    line-height: normal;
    color: #091D34;
}

.replayButton:hover {
    background-color: white;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-blue {
    color: #fff;
    background-color: #007bff;
}

.badge-yellow {
    color: #fff;
    background-color: #ffc107;
}

.badge-grey {
    color: #fff;
    background-color: #6c757d;
}

.badge-green {
    color: #fff;
    background-color: #28a745;
}

.badge-red {
    color: #fff;
    background-color: #dc3545;
}

header a {
    padding: 5px;
    color: #133863;
    font-size: 20px;
    vertical-align: bottom;
}
header a:hover {
    text-decoration: underline;
    color: #1b508d;
}

.lastmove {
    background-color: orange;   
}

#leftside {
    float: left;
    padding-left: 10px;
    padding-right: 5%;
}

.opengames {
    float: left;
}